<div class="container">
    <div class="row align-items-center">
        <h1 class="text-center">New Power</h1>

        <div class="btn btn-secondary">
            <%= render 'form', power: @power %>
        </div>

        <button type="button" class="btn btn-dark "><%= link_to 'Back', powers_path %></button>
    </div>
</div>
