<div class="container">
    <div class="row align-items-center">
        <h1 class="text-center">New Alien</h1>

        <div class="btn btn-secondary">
            <%= render 'form', alien: @alien %>
        </div>

    <br>
    <br>
    
        <button type="button" class="btn btn-dark "><%= link_to 'Back', aliens_path %></button>
    </div>
</div>